$fu_main: #ff0000;
$fu_main_hover: #ffdd00;
$fu_secondary: #000000;
$fu_secondary_hover: #dadada;

$fu_grey: #252B2D;
$fu_grey_light: #31393C;
$fu_light_grey: #cccccc;
$fu_light_grey_light: #e9ecef;
$fu_blue: rgba(0, 94, 245, 1);
$fu_blue_light: rgba(33, 118, 255, 1);
$fu_blueish: rgba(0, 94, 245, 0.6);
$fu_blueish_light: rgba(33, 118, 255, 0.6);

$fluid_limit: 13.5rem; 